#
# pin constraints
#
NET GCLK LOC = "V10"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "B8"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET RS232_Uart_1_sin LOC = "N17"  |  IOSTANDARD = "LVCMOS33";
NET RS232_Uart_1_sout LOC = "N18"  |  IOSTANDARD = "LVCMOS33";
Net push_GPIO_IO_I_pin<0> LOC = A8 | IOSTANDARD = LVCMOS33 ;
Net push_GPIO_IO_I_pin<1> LOC = C4 | IOSTANDARD = LVCMOS33 ;
Net push_GPIO_IO_I_pin<2> LOC = C9 | IOSTANDARD = LVCMOS33 ;
Net push_GPIO_IO_I_pin<3> LOC = D9 | IOSTANDARD = LVCMOS33 ;

Net dip_GPIO_IO_I_pin<0> LOC=T10 | IOSTANDARD = LVCMOS33 ;
Net dip_GPIO_IO_I_pin<1> LOC=T9 | IOSTANDARD = LVCMOS33 ;
Net dip_GPIO_IO_I_pin<2> LOC=V9 | IOSTANDARD = LVCMOS33 ;
Net dip_GPIO_IO_I_pin<3> LOC=M8 | IOSTANDARD = LVCMOS33 ;
Net dip_GPIO_IO_I_pin<4> LOC=N8 | IOSTANDARD = LVCMOS33 ;
Net dip_GPIO_IO_I_pin<5> LOC=U8 | IOSTANDARD = LVCMOS33 ;
Net dip_GPIO_IO_I_pin<6> LOC=V8 | IOSTANDARD = LVCMOS33 ;
Net dip_GPIO_IO_I_pin<7> LOC=T5 | IOSTANDARD = LVCMOS33 ;
#
# additional constraints
#

NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

